.env
.venv
.idea
.mypy_cache
authentication/.mypy_cache
api/.mypy_cache
description_for_test_plan.txt
expired_token.txt
__pycache__
api/__pycache__
authentication/__pycache__
testware/__pycache__
thanqa_tms/__pycache__
pages/__pycache__
pages/configs/__pycache__