.notification__successful {
  width: 425px;
  height: 177px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 14px;
  opacity: 0.8;
  background: #54B86A;
  margin-left: 75%;
  margin-top: -5%;
  animation: opacityOn 2s;
}

@keyframes opacityOn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.notification__text {
  color: #FFF;
  font-family: Baloo Bhai, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 25px;
  margin-bottom: 0;
}

.notification__error {
  width: 425px;
  height: 177px;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 14px;
  opacity: 0.8;
  margin-left: 75%;
  margin-top: -5%;
  animation: opacityOn 2.2s;
  background: #FE0D0D;
}

@keyframes opacityOn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.notification__successful__icon {
  background: url("../icons/Check_round_fill.svg");
  width: 100px;
  height: 90px;
}

.notification__error__icon {
  background: url("../icons/Close_square_fill.svg");
  width: 100px;
  height: 90px;
}