.loginForm {
  width: 425px;
  height: 795px;
  flex-shrink: 0;
  border-radius: 33px;
  border: 5px solid #F5F5F5;
  background: #F5F5F5;
  box-shadow: -20px -20px 50px 0 rgba(0, 0, 0, 0.06), 20px 20px 50px 0 rgba(0, 0, 0, 0.07);
  margin-left: 1000px;
  margin-top: -100px;
}

.input-qa {
  width: 343px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 8px;
  border: #FFFFFF;
  background: #FFF;
  font-family: Roboto, Roboto, serif;
  font-size: 20px;
}

.enter-button {
  width: 156px;
  height: 69px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #000;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.hide-password {
  width: 48px;
  height: 41px;
  flex-shrink: 0;
}

.sign-in {
  width: 120px;
  height: 65px;
  flex-shrink: 0;
  color: #000;
  font-family: Baloo Bhai, sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sign-in-icon {
  width: 62px;
  height: 64px;
  flex-shrink: 0;
  background: url("./Sign_in_squre_fill.svg");
}

.thanqa-logo {
  margin: 200px 960px 100px 224px;
  width: 750px;
  height: 557px;
  flex-shrink: 0;
  background: url("./thanqa-low-resolution-logo-black-on-white-background.svg");
}

.forgot-password {
  width: 271px;
  height: 32px;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: Roboto, Roboto, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  margin-bottom: 97px;
  margin-left: 88px;
}

