.thanqa-test-cases {
    width: 829px;
    height: 800px;
    flex-shrink: 0;
    position: absolute;
    left: 15%;
    top: 4.5%;
    margin: 0 0 0 0;
}

.thanqa-add-test-case-icon-initial {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url("../icons/Add_square.svg");
    margin: 0 0 0 0;
    display: inline-block;
    position: relative;
    top: 0.5%;
    left: 1%;
}

.thanqa-add-test-case-icon-on-hover {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    background: url("../icons/Add_square_on_hover.svg");
    margin: 0 0 0 0;
    display: inline-block;
    position: relative;
    top: 0.5%;
    left: 1%;
}

.thanqa-search {
    width: 655px;
    height: 40px;
    flex-shrink: 0;
    font-family: Roboto, Roboto, serif;
    border-radius: 8px;
    background: #F5F5F7;
    display: inline-block;
    position: relative;
    left: 5%;
}

.thanqa-search-icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    background: url("../icons/Group 35.svg");
    display: inline-block;
    position: relative;
    left: 3%;
    top: 20%;
}

.thanqa-search-input {
    width: 600px;
    height: 35px;
    flex-shrink: 0;
    font-family: Roboto, Roboto, serif;
    border-radius: 8px;
    display: inline-block;
    position: relative;
    left: 150%;
    bottom: 40%;
    background: #F5F5F7;
    border: none;
    outline: none;
    font-size: 20px;
}

.thanqa-no-test-runs-text {
    color: #000;
    font-family: Roboto, serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    left: 30%;
    bottom: 15%;
    margin: 0 0 0 0;
    display: inline-block;
}

.thanqa-text {
    color: #000;
    font-family: Baloo Bhai, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 0;
    display: inline-block;
}

.thanqa-text-and-icon {
    display: inline-block;
}

.thanqa-test-runs-counter-table {
    width: 500px;
    height: 250px;
    margin: 0 0 0 0;
    display: inline-block;
    position: absolute;
    left: 69.5%;
    top: 3%;
}

.thanqa-test-runs-form {
    width: 208px;
    height: 96px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #F5F5F7;
    margin: 15px 15px 15px 15px;
    display: inline-block;
}

.passed-thanqa-test-runs-counter {
    color: #7FEE85;
    font-family: Baloo Bhai, serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 0;
    position: relative;
    left: 15%;
    display: inline-block;
}


.in-progress-thanqa-test-runs-counter {
    color: #0B46F8;
    font-family: Baloo Bhai, serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 0;
    position: relative;
    left: 15%;
    display: inline-block;
}

.blocked-thanqa-test-runs-counter {
    color: black;
    font-family: Baloo Bhai, serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 0;
    position: relative;
    left: 15%;
    display: inline-block;
}

.failed-thanqa-test-runs-counter {
    color: #FF0505;
    font-family: Baloo Bhai, serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 0;
    position: relative;
    left: 15%;
    display: inline-block;
}

.thanqa-test-runs-counter-text {
    color: #000;
    font-family: Roboto, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    display: inline-block;
    margin: 0 0 0 0;
    width: 100px;
    position: relative;
    left: 25%;
}

.thanqa-current-test-plan {
    width: 500px;
    height: 250px;
    margin: 0 0 0 0;
    position: absolute;
    left: 70.5%;
    bottom: 40%;
}

.thanqa-current-test-plan-short-info {
    width: 445px;
    height: 193px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #F5F5F7;
    position: relative;
    top: 10%;
}

.thanqa-test-plan-button-no-current-test-plan {
    width: 160px;
    height: 59px;
    flex-shrink: 0;
    background: black;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 700;
    font-family: Roboto, serif;
    font-style: normal;
    line-height: normal;
    fill: rgba(0, 0, 0, 0.73);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 0 0 0 0;
    position: relative;
    top: 33%;
    left: 10%;
}

.thanqa-test-plan-icon {
    width: 122px;
    height: 108px;
    flex-shrink: 0;
    background: url("../icons/Folder_file.svg");
    margin: 0 0 0 0;
    position: relative;
    left: 65%;
    bottom: 10%;
}

.thanqa-test-plan-datetime {
    color: #000;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 580;
    line-height: 24px;
    margin: 0 0 0 0;
    display: block;
    position: relative;
    top: 15%;
    left: 5%;
}

.thanqa-test-plan-title {
    color: #000;
    font-family: Baloo Bhai, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 0;
    display: inline-block;
    position: relative;
    top: 15%;
    left: 5%;
}

.thanqa-test-plan-button-with-current-test-plan {
    width: 120px;
    height: 40px;
    flex-shrink: 0;
    background: black;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 700;
    font-family: Roboto, serif;
    font-style: normal;
    line-height: normal;
    fill: rgba(0, 0, 0, 0.73);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 0 0 0 0;
    position: relative;
    top: 25%;
    left: 5%;
}

.thanqa-create-test-plan {
    width: 1362px;
    height: 804px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 5px solid #F5F5F5;
    background: #F5F5F5;
    box-shadow: -20px -20px 50px 0 rgba(0, 0, 0, 0.07), 20px 20px 50px 0 rgba(0, 0, 0, 0.07);
    position: absolute;
    right: 35%;
    top: -170%;
}

.thanqa-modal-title-input {
    width: 750px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    outline: none;
    font-size: 20px;
    display: inline-block;
    font-family: Roboto, Roboto, serif;
    position: relative;
    top: 7%;
    right: 13%;
    padding-left: 5px;
}

.thanqa-modal-header {
    color: #000;
    font-family: Baloo Bhai, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 0;
    position: relative;
    left: 40%;
    bottom: 2%;
    display: inline-block;
}

.thanqa-modal-input-title-description {
    color: #000;
    font-family: Inter, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 0;
    position: relative;
    display: inline-block;
    right: 10.5%;
    top: 1%;
}

.thanqa-datepicker-input {
    width: 300px;
    height: 68px;
    flex-shrink: 0;
    border: none;
    outline: none;
    border-radius: 8px;
    background: #FFF;
    font-size: 20px;
    font-family: Roboto, Roboto, serif;
    position: relative;
    display: inline-block;
    left: 100%;
    bottom: 23%;
    padding: 0 0 0 0;
}

.thanqa-modal-datepicker-description {
    color: #000;
    font-family: Inter, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 0;
    position: relative;
    display: inline-block;
    right: 5.5%;
    top: 1%;
}

.thanqa-datepicker-icon {
    width: 50px;
    height: 47px;
    flex-shrink: 0;
    background: url("../icons/Date_range.svg");
    position: relative;
    top: 15%;
    left: 15%;
}

.thanqa-datepicker-background {
    width: 80px;
    height: 68px;
    border-radius: 8px;
    background: #FFF;
    position: relative;
    left: 68%;
    bottom: 1.3%;
}

.thanqa-modal-content-description {
    color: #000;
    font-family: Inter, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 0;
    position: relative;
    left: 5.5%;
    top: 2%;
}

.thanqa-modal-content {
    width: 1215px;
    height: 431px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    border: none;
    outline: none;
    position: relative;
    left: 5.2%;
    top: 3%;
    font-family: Roboto, serif;
    font-size: 20px;
    padding-left: 5px;
    resize: none;
}

.thanqa-modal-author-description {
    color: #000;
    font-family: Inter, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 0 0 0;
    position: relative;
    display: inline-block;
    top: 8%;
    right: 84%;
}

.thanqa-modal-author {
    width: 366px;
    height: 68px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    position: relative;
    top: 9%;
    left: 5.3%;
    padding: 0 0 0 0;
}

.thanqa-modal-author-placeholder {
    width: 300px;
    height: 60px;
    color: #919EAB;
    font-family: Inter, serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 30%;
    padding-left: 5px;
}

.thanqa-close-modal {
    width: 43px;
    height: 43px;
    flex-shrink: 0;
    background: url("../icons/Dell_duotone.svg");
    padding: 0 0 0 0;
    position: relative;
    display: inline-block;
    left: 96%;
    top: 1%;
}

.thanqa-close-modal-on-hover {
    width: 43px;
    height: 43px;
    flex-shrink: 0;
    background: url("../icons/Dell_duotone_hover.svg");
    padding: 0 0 0 0;
    position: relative;
    display: inline-block;
    left: 96%;
    top: 1%;
}